@import '../styles/variables';

.homepage {
  header {
    margin: 3rem 0 1rem;

    .author {
      color: $title-color;
      margin: 0;
    }

    .interests {
      color: $subtitle-color;
      margin: 0;
    }
  }

  main {
    .introduction {
      font-size: 16px;
      margin: 1rem auto;
      max-width: 700px;

      a {
        color: $links-color;
        text-decoration: none;
      }
    }
  }
}
